<%
    workshops_date = Date.parse(data.general.workshops_date)
    conf_start_date = Date.parse(data.general.conf_start_date);
    conf_end_date = conf_start_date + 1;
%>

<div class="jumbotron-fluid">
    <div class="container-fluid">
        <div class="main-display">
            <div class="title">
                <div class="main-display-title">DevConf</div>
                <div class="main-display-title alternate">2020</div>
                <div class="subtitle">Software Craftsmen Festival for Sharing Knowledge and Inspiration</div>
            </div>            
            <div class="important-info">
                <div>
                    <i class="fas fa-graduation-cap"></i>
                    <%= workshops_date.strftime("%d %b %Y") %> - Workshops
                </div>
                <div>
                    <i class="fas fa-microphone"></i>
                    <%= conf_start_date.strftime("%d") %>-<%= conf_end_date.strftime("%d %b %Y") %> - Conference
                </div>
                <div>
                    <i class="fas fa-map-marker-alt"></i>
                    Kraków, Poland
                </div>
            </div>
            <div class="cta row no-gutters">
                <div class="col-sm-6 text-center">
                    <a class="btn btn-primary nav-btn" href="/#tickets" role="button">Get Tickets</a>
                </div>
                <!--<div class="col-sm-6 text-center">
                    <a class="btn btn-primary" href="<%= data.general.cfp_link %>" role="button">Apply to Speak!</a>
                </div>-->
            </div>
            <%= partial "social_links" %>
        </div>
    </div>
</div>